html{
	height: 100% !important;
}

body{
	margin: 0;
	padding: 0;
	min-height: 100% !important;
	position: relative;
	cursor: default;
}

body::after {
  content: '';
  display: block !important;
  height: 60px !important; /* Set same as footer's height */
}

#main-header{
	background-color: #007bff;
}

#reset-button{
	background-color: #007bff; 
	color: #fff;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100% !important;
	height: 60px !important;
}

footer p{
	font-size: 15px !important;
}