html{
	height: 100% !important;
}

body{
	margin: 0;
	padding: 0;
	min-height: 100% !important;
	position: relative;
}

body::after {
  content: '';
  display: block !important;
  height: 60px !important; /* Set same as footer's height */
}

#main-header{
	background-color: #007bff;
}

#search-button{
	color: #fff;
	background-color: #007bff;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100% !important;
	height: 60px !important;
}

footer p{
	font-size: 15px !important;
}

@media (max-width: 991px){
	.desc{
		display: none !important;
	}
}